In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from datetime import datetime

csv="/content/raw_data.csv"
def wrangle(csv):
  # import data
  data=pd.read_csv(csv)
  df=pd.DataFrame(data)
  #change 'fecha_hecho' to datetime
  format_str = '%d/%m/%Y'
  df["fecha_hecho"]= pd.to_datetime(df["fecha_hecho"],format = '%d/%m/%Y')
  #drop rows with null values
  df.dropna(inplace=True)
  #df.drop("reference_id",axis=1,inplace=True)
  return df
df=wrangle(csv)

<ipython-input-3-ef5baa7f6536>:10: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(csv)

In [ ]:
df.isnull().sum(),len(df)

(Unnamed: 0      0
 departamento    0
 municipio       0
 codigo_dane     0
 armas_medios    0
 fecha_hecho     0
 genero          0
 grupo_etario    0
 cantidad        0
 dtype: int64,
 574110)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 574110 entries, 0 to 575720
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    574110 non-null  int64
 1   departamento  574110 non-null  object
 2   municipio     574110 non-null  object
 3   codigo_dane   574110 non-null  object
 4   armas_medios  574110 non-null  object
 5   fecha_hecho   574110 non-null  datetime64[ns]
 6   genero        574110 non-null  object
 7   grupo_etario  574110 non-null  object
 8   cantidad      574110 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 43.8+ MB

In [ ]:
df['departamento'].value_counts()

CUNDINAMARCA          103971
ANTIOQUIA              70548
VALLE                  53551
SANTANDER              45230
BOYACÁ                 32118
ATLÁNTICO              21186
TOLIMA                 21031
HUILA                  19959
META                   19804
BOLÍVAR                19094
NARIÑO                 17632
NORTE DE SANTANDER     17566
CAUCA                  17425
RISARALDA              16785
CÓRDOBA                13128
MAGDALENA              11800
SUCRE                  11549
CALDAS                 11047
CESAR                   9778
CASANARE                7519
QUINDÍO                 6001
CAQUETÁ                 5706
GUAJIRA                 5095
ARAUCA                  4309
PUTUMAYO                3874
CHOCÓ                   2570
AMAZONAS                1499
SAN ANDRÉS              1454
GUAVIARE                1214
GUAINÍA                  633
VAUPÉS                   522
VICHADA                  506
NO REPORTA                 6
Name: departamento, dtype: int64

In [ ]:
df['municipio'].value_counts()

BOGOTÁ D.C. (CT)         58146
MEDELLÍN (CT)            25063
CALI (CT)                21950
BUCARAMANGA (CT)         11980
VILLAVICENCIO (CT)       11432
                         ...
CEPITÁ                       3
SÁCAMA                       3
BOJAYÁ                       2
ZAPAYÁN                      2
SAN JACINTO DEL CAUCA        2
Name: municipio, Length: 1023, dtype: int64

In [ ]:
df["codigo_dane"].value_counts()

11001000    32787
11001000    25359
5001000     15408
76001000    14499
5001000      9655
            ...
13600000        1
50686000        1
47605000        1
27099000        1
47960000        1
Name: codigo_dane, Length: 2196, dtype: int64

In [ ]:
df["cantidad"].value_counts()

1      448893
2       63673
3       23141
4       11464
5        6532
        ...
143         1
106         1
130         1
105         1
115         1
Name: cantidad, Length: 123, dtype: int64

In [ ]:
df["genero"].value_counts()

FEMENINO        436930
MASCULINO       136654
NO REPORTA         294
NO REPORTADO       232
Name: genero, dtype: int64

In [ ]:
df["grupo_etario"].value_counts()

ADULTOS         503613
ADOLESCENTES     35551
MENORES          34439
NO REPORTA         274
NO REPORTADO       233
Name: grupo_etario, dtype: int64

In [ ]:
len(df["fecha_hecho"].loc[(df['fecha_hecho']>='01/01/2021') & (df['fecha_hecho']<='01/01/2022')])

56295

In [ ]:
from datetime import datetime, timedelta

years=df['fecha_hecho'].max().year - df['fecha_hecho'].min().year
results=[]
for i in range(years):
  s=""
  results.append([
      i+2010,len(
          df["fecha_hecho"].loc[
          (df['fecha_hecho']>=s.join(['01/01/',str(2010+i)]))
      & (df['fecha_hecho']<=s.join(['01/01/',str(2011+i)]))
      ]
      )
      ])

pd.DataFrame(results,columns=["año","fecha_hecho"])

    anyo  fecha_hecho
0   2010        15378
1   2011        17318
2   2012        20790
3   2013        22173
4   2014        30226
5   2015        45479
6   2016        50333
7   2017        50900
8   2018        48361
9   2019        53781
10  2020       101282
11  2021        56295
12  2022        57216